<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">

      <li> <a href="/">Home</a> </li>
      <li><a href="/check">查詢</a></li>

      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          Menu 
          <span class="caret"></span>
          </a>

          <ul class="dropdown-menu" role="menu">
            <li><a href="/registration">自動報到</a></li>
            <li><a href="/manageRegistration">手動報到</a></li>
            <li><a href="/searchForMana">Search Management</a></li>
            <li><a href="/gameplay">Gameplay Management </a></li>
          </ul>
      </li>

    </ul>
  </div>
</nav>
 
<% if (msg) { %>
  <div> <%= msg %> </div>
<% } %>
  