<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">

      <li> <a href="/">獎項列表</a> </li>
      <li><a href="/check">查詢</a></li>

      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          管理
          <span class="caret"></span>
          </a>

          <ul class="dropdown-menu" role="menu">
            <li><a href="/registration">自動報到</a></li>
            <li><a href="/manageRegistration">手動報到</a></li>
            <li><a href="/searchForMana">兌獎管理</a></li>
            <li><a href="/gameplay">抽獎管理</a></li>
          </ul>
      </li>

    </ul>
  </div>
</nav>
 
<% if (typeof msg !== 'undefined' && msg) { %>
<%
  // 根據訊息內容自動判斷樣式類型
  var alertType = 'info';
  var alertIcon = 'info-sign';
  var alertTitle = '系統訊息';
  
  if (msg.indexOf('錯誤') >= 0 || msg.indexOf('失敗') >= 0 || msg.indexOf('Error') >= 0) {
    alertType = 'error';
    alertIcon = 'exclamation-sign';
    alertTitle = '錯誤提示';
  } else if (msg.indexOf('成功') >= 0 || msg.indexOf('完成') >= 0 || msg.indexOf('Finished') >= 0 || msg.indexOf('Executed') >= 0) {
    alertType = 'success';
    alertIcon = 'ok-sign';
    alertTitle = '操作成功';
  } else if (msg.indexOf('警告') >= 0 || msg.indexOf('注意') >= 0 || msg.indexOf('請') >= 0) {
    alertType = 'warning';
    alertIcon = 'warning-sign';
    alertTitle = '注意事項';
  }
%>
<div class="container">
  <div class="alert-message alert-message-<%= alertType %>">
    <div class="alert-message-icon">
      <span class="glyphicon glyphicon-<%= alertIcon %>"></span>
    </div>
    <div class="alert-message-content">
      <strong><%= alertTitle %></strong>
      <p><%= msg %></p>
    </div>
    <button type="button" class="alert-message-close" onclick="this.parentElement.style.display='none';">
      <span>&times;</span>
    </button>
  </div>
</div>
<% } %>
  