<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">

      <li> <a href="/">Home</a> </li>


      <li><a href="/check" target="blank">Check</a></li>
      

      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          Menu 
          <span class="caret"></span>
          </a>

          <ul class="dropdown-menu" role="menu">
            <li><a href="/registration">Register</a></li>
            <li><a href="/manageRegistration">Manage Registration</a></li>
            <li><a href="/gameplay">Gameplay</a></li>
            <li><a href="/execute">Execute</a></li>
          </ul>
      </li>

    </ul>
  </div>
</nav>
