<html>
<head>

</head>
<body background="/img/bg.png" width="2048">

<br/>
<br/>

<div style="text-align: center;">
    <a class="btn btn-primary" href='/execute/<%= gid %>/false'>
        <img style="width:100px; height:100px" src="/img/button_start1.png" />
    </a>
</div>

</body>
</html>


