
<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>

      <% if (results) { %>
             <%= results[0].awardList %> 共 <%= results.length %> 個
      <% } %>
      </h3>

      <% if (results) { %>
      <table  class="table table-bordered table-hover">
        <thead>
                <tr>
                  <th></th>
                  <th>號碼</th>
                  <th>姓名</th>
                  <th>桌次</th>
                </tr>
        </thead>
        <tbody id="content" style="font-size:80px" />
      </table>
      <% } %>

    </div>
  </div>
</div>

<script>
<% if (results) { %>
    var rowLength = <%= results.length %>;
    var count = 0;
    var content = <%- JSON.stringify(results) %>

    function show() {
        $('#content').prepend(
                      '<tr><td>'+ (count+1)  +'</td>'+
                          '<td>'+ content[count].uid +'</td>'+
                          '<td>'+ content[count].name +'</td>'+
                          '<td>'+ content[count].table_num +'</td></tr>'
        );
        if (count != rowLength) {
            count++;
        }
    }

    var intervalId = setInterval(show,2000)
<% }%>
</script>