<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>
      Registration
      </h3>

      <form action="/registerSubmit" method="POST">
      uid <input name="uid" type="text" />
        <button type="submit" value="submit">submit</button>
      </form>
    </div>
  </div>
</div>


</body>
</html>
