
<html>
<head>

</head>
<body>

<br/>
<br/>
<table>
    <tr><td valign="middle" style="font-size: 48px">
        <img src="/img/now_we_will_play.png" width="300"/> <%= gameName %>
    </td></tr>
    <tr><td>
        快速抽出 <span id='reminderCount'><%= reminderCount %></span> 位得獎者
    </td></tr>
</table>
<br/>
<br/>
<center>

<a class="btn btn-primary" href='/execute/<%= gid %>'>
    <img src="/img/play_button.png" />
</a>
</center>


</body>
</html>