
<html>
<head>

</head>
<body>

<br/>
<br/>
<img src="/img/now_we_will_play.png" width="300"/> <span style="font-size: 36px"><%= gameName %></span>
<br/>
快速抽出 <span id='reminderCount'><%= reminderCount %></span> 位得獎者
<br/>
<br/>

<a class="btn btn-primary" href='/execute/<%= gid %>'>
    <img src="/img/play_button.png" />
</a>


</body>
</html>