
<html>
<head>

</head>
<body background="/img/bg.png" width="2048">

<br/>
<br/>


快速抽出 <span id='reminderCount'><%= reminderCount %></span> 位得獎者
<br/>
<br/>

<a class="btn btn-primary" href='/execute/<%= gid %>'>
    <img src="/img/play_button.png" />
</a>


</body>
</html>